html,
body,
#root {
  width: 100%;
  height: 100%;
  margin: 0;
}

.simulation-page {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
}

.simulation-toolbar {
  flex: none;
  min-height: 40px;
}

.workspace {
  display: flex;
  flex: 1;
  min-height: 0;
}

.workspace-split {
  width: 100%;
}
